# markdown
## markdown
### markdown
#### markdown
##### markdown
###### markdown

### for italic and bold
* *print1*
* **print2** 
* ***SAI***

- Heading
   - subtext1
   - subtext2

![image](https://specials-images.forbesimg.com/imageserve/5d35eacaf1176b0008974b54/960x0.jpg?cropX1=790&cropX2=5350&cropY1=784&cropY2=3349)

* [2]
[1](https://drive.google.com/drive/my-drive)

In [3]:
print("helllo")

helllo

In [4]:
print("helllo,gitam",end="*")
print("venkat")

helllo,gitam*venkat

In [ ]:
a = 10 # single variable assigment
m, w, e == 1 # multi variable assignment
n, j, f = 1, 2, 3 # multi variable assignment diff values
b = 20
c = 30

In [5]:
a = "python"
b = "p"
type(a)
c=10
type(c)

int

In [6]:
a = 10.5
type(a)

float

In [9]:
name = "venkat"
age = "20"
print ("my name is",name,"and age  is  ", age)

my name is venkat and age  is   20

In [13]:
p = q = 20 # multi variable assign with single value
p

20

In [14]:
p

20

In [15]:
a = input('enter a string')
type(a)

enter a string456

str

In [16]:
s = int(input('enter a number'))
type(s)

enter a number123

int

In [18]:
a = float(input('enter a num'))
type(a)

enter a num125

float

In [19]:
a = int(input('enter a number'))
b = int(input('enter a number'))
c = a*b
print(c)

enter a number25
enter a number56
1400

In [20]:
a = int(input('enter a number'))
b = int(input('enter a number'))
c = a-b
print(c)

enter a number45
enter a number50
-5

In [21]:
a = int(input('enter a number'))
b = int(input('enter a number'))
c = a+b
print(c)

enter a number10
enter a number520
530

In [22]:
a = int(input('enter a number'))
b = int(input('enter a number'))
c = a/b
print(c)

enter a number45
enter a number5
9.0

In [ ]:
# data types
# int
# float
# complex
# boolean
# string

In [23]:
x = 10
print(x)
type(x)

10

int

In [24]:
y = 2.5
print(y)
type(y)

2.5

float

In [25]:
z = 2+3j
print(z)
type(z)

(2+3j)

complex

In [26]:
x = float(12)
x

12.0

In [27]:
y = complex(2,1)
y

(2+1j)

In [28]:
c = 2+3j
c

(2+3j)

In [31]:
c = 2+3j
v = 3+2j
print(c+v)
print(c*v)
print(c/v)
print(c-v)

(5+5j)
13j
(0.9230769230769231+0.38461538461538464j)
(-1+1j)

In [38]:
f = True
type(f)

bool

In [39]:
 s = False
type(s)

bool

In [40]:
f>s

True

In [41]:
# strings
s1 = 'venkat'
s2 = 'sai'
print(s1)
s2

venkat

'sai'

In [42]:
type(s1)
type(s2)

str

In [46]:
i = 100
print(type(i))

<class 'int'>

In [47]:
s1 = str(i) # str converts the input into string
print(s1)
type(s1)

100

str

In [48]:
f1 = float(i) # float converts the input into float type
print(f1)
type(f1)

100.0

float

In [50]:
 s = "100"
print(type(s))

<class 'str'>

In [51]:
a = int(a)
type(a)

int

In [52]:
f = 1.5
type(f)

float

In [54]:
all = int(f)
type(all)

int

In [58]:
a ="194"
len(a) # returns the length of the string

3

# operators:

# arthematic operator : + -  * / % //
# logical operators : and or not
# relational operators:<,<=>,>,==
# membership operators:in,not in

# 1.Arthematic operators:-
# % modular divisions
# // floor divisions
# ** exponential
# + add
# - sub
# *multiplication
# /division

In [60]:
n1 = 2
n2 = 3
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1%n2)
print(n1**n2)
print(n1//n2)

5
-1
6
2
8
0

In [61]:
2+3

5

In [62]:
# logical operator
x = 4
y = 9
print(x>=5 and X<=10) # checks for two conditions
print(x>=5 or x<=5) # checks for the either of the conditons
print(not(x))

False
True
False

In [63]:
# erelation operators 
x = 2 
y = 3
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x>=y)
print(x<=y)

False
True
True
False
False
True

In [64]:
# membership operators
str1 = 'abc'
print('a' in str1)
print('n' in str1)

True
False

In [65]:
# membership operators
str1 = 'abc'
print('a' in str1)
print('a' not in str1)

True
False

# conditional statement
# 1. if
# 2. if else
# 3. else

# syntax :(if)
- if condition
            - statement

# syntax:-
   - if condition
            - statement
   - else:
            -  statement

# syntax:-(elseif) else part is optional
   - if condition
            - statement
   - elif:
        - statement
   - elif:
        - statement 
    - elif:
        - statement
   - else:
        - statement

In [66]:
# to check given number positive or not
a = 10
if a>0:
    print('positive')

positive

In [68]:
# to check given number positive or negative
a = -10
if a>0:
    print('positive')
else:
    print('negative')

negative

In [73]:
# to check given number positive or not or zero
a = 0
if a>0:
    print('positive')
elif a<0:
    print('negative')
else:
    print('zero')

zero

# to check given number is even or odd
# to check given number is multiple of 3 and 5
# to check the input leap year  r not
# take 3 numbers as nput nd find biggest of 3
# read charcter and find whether it is vowel or consonant